
  .full{
    display : flex; 
  }
  
  .now{
    font-size: 32px;
    font-weight: bold;
    font-style: oblique;
    border-left: solid;
    border-color:#36591D;
    padding-left:20px;
  }
  
  .fixed{
    background-color:#C5D99A;
    display : flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    width:290px;
    padding-left: 20px;
  }
  
  
  .bar{
    text-align:left;
    padding-top: 30px;
    margin-top : 50px;
    margin-left:20px;
    margin-right:20px;
    font-size:23px;
  }
  
  .second{
    display:grid;
    grid-template-columns: repeat(1, 1100px);
    margin-top : 50px;
    text-align:center;
    justify-items: center;
    WIDTH:1100PX;
    margin-left:50px;
    margin-bottom:50px;
    margin-right:200px;
  }
  
  .top{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    display:grid;
    text-align:center;
    justify-items: center;
  }
  
  .line{
    height:50px;
    margin:0px auto;
    padding-bottom:50px;
  }
  
  .lives{
    display:grid;
    grid-gap:15px;
    justify-items: center;
    margin-bottom:50px;
  }

  .live{
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: 'Inconsolata', monospace;
      font-size:23px;
      color:#795548 ;
      font-weight: 500;
  }

  .livee{
    font-family: 'Gothic A1', sans-serif;
    font-size:22px;
    color:#795548  ;
    font-weight: 500;
  }
  
  
  .albums img {
    object-fit: cover;
    width:282px;
  }
  
  .name{
    font-family: 'Inconsolata', monospace;
    font-size:25px;
  }
  
  .intro{
    font-family: 'Inconsolata', monospace;
    font-size:25px;
    margin-bottom:50px;
  }